<div class="jumbotron">
    <h1 style="text-align: center;">Country Capitals</h1> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container">
    <div class="col-xs-3">
      <input type="text" id="ex2" class="form-control" [(ngModel)]="filterText" placeholder="Search by name or code" >
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-6" *ngFor="let country of (countries | countrySearch: filterText);">
      <div class="row">
        <div class="col-6 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 id="countryName" class="card-title">{{country?.name}}</h5>
              <p class="card-text" id="capital">
                <strong >Capital:</strong> {{country?.capital}}
                <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>